#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout
    .wrapper
      .callout
        %h2 Organize
        %p Eu godard man braid, green juice synth seitan waistcoat four loko brunch blog kinfolk lo-fi scenester mollit next level. Magna listicle consequat id sartorial. Consequat cillum squid, salvia trust fund laborum semiotics hammock subway tile. Ea fanny pack cray taxidermy, venmo thundercats prism messenger bag succulents tofu. Odio et selfies, jianbing mixtape pop-up cornhole elit post-ironic single-origin coffee. Celiac irure tote bag velit, YOLO everyday carry austin hexagon 8-bit hashtag shabby chic nostrud est ex mixtape. Consequat waistcoat semiotics salvia ramps, fugiat cred leggings.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now",  new_user_registration_path